{% extends 'base.html' %}
{% load static %}
{% block body %}

        <section id="product-banner">
            <h2>Know who we are</h2>
            <p>Optica is synonym for glasses.</p>
        </section>

        
        <section id="about" class="section-p1">
            <img src="{% static 'images/easypayment.jpg' %}"  width="50%" 
            height= "auto" alt="">
            
            <div>
                <h2>Who We Are ?</h2>
                <p>Optica is an e-commerce website focused for glasses and shades designed with the help of HTML, CSS, JS in the frontend side and Django framework for the backend. I have used MYSQL database to store all the required data of the system. As its name also define, you can find different glasses for both boys and girls in the website.
                </p>
            </div>

        </section>
     


    {% endblock %}