{% extends 'base.html' %}
{% load static %}
{% block body %}

        <section id="product-banner">
            <h2>Let's make this shades yours</h2>
            <p>Quickly checkout from below to claim your product.</p>
        </section>

        <section id="cart" class="section-p1">
            <table width="100%">
                <thead>
                    <tr>
                        <td>REMOVE</td>
                        <td>Image</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                        <td><img src="../static/images/glass5.png" alt=""></td>
                        <td>Carbon Chasma</td>
                        <td>Rs.500</td>
                        <td><input type="number" value="1"></td>
                        <td>Rs.500</td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                        <td><img src="../static/images/glass6.png" alt=""></td>
                        <td>Carbon Chasma</td>
                        <td>Rs.500</td>
                        <td><input type="number" value="1"></td>
                        <td>Rs.500</td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                        <td><img src="../static/images/glass7.png" alt=""></td>
                        <td>Carbon Chasma</td>
                        <td>Rs.500</td>
                        <td><input type="number" value="1"></td>
                        <td>Rs.500</td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section id="cart-add" class="section-p1">
            <div id="coupon">
                <h3>Apply Coupon</h3>
                <div>
                    <input type="text" placeholder="Enter Your Coupon">
                    <button>Apply</button>
                </div>
            </div>

                <div id="subtotal">
                    <h3>Cart Totals</h3>
                    <table>
                        <tr>
                            <td>Cart Subtotal</td>
                            <td>Rs.500</td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td>Free</td>
                        </tr>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td><strong>Rs.1000</strong></td>
                        </tr>
                    </table>
                    <button class="checkout">Checkout</button>
                </div>


            </div>
        </section>

  {% endblock %}