{% extends 'base.html' %}
{% load static %}
{% block body %}

        <section id="product-banner">
            <h2>Let's make this shades yours</h2>
            <p>Quickly checkout from below to claim your product.</p>
        </section>

        <section id="cart" class="section-p1">
            <table width="100%">
                <thead>
                    <tr>
                        <td>REMOVE</td>
                        <td>Image</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                {% for item in items %}
                <tbody>
                  
                    <tr>
                        <td><a href="{% url 'cartIndex' %}"><i data-product="{{item.product.id}}" data-action="deleteItem" class="far fa-times-circle addToCart"></i></a></td>
                        <td><img src="{{item.product.image.url}}" alt=""></td>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price}}</td>
                        {% comment %} <td><input type="number" class="border" value="{{item.quantity}}"></td> {% endcomment %}
                        <td><button>-</button> <input type="text" class="border" value="{{item.quantity}}"><button>+</button> </td>
                        <td>{{item.get_item_total}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

        </section>

        <section id="cart-add" class="section-p1">
            <div id="coupon">
                <h3>Apply Coupon</h3>
                <div>
                    <input type="text" placeholder="Enter Your Coupon">
                    <button>Apply</button>
                </div>
            </div>

                <div id="subtotal">
                    <h3>Cart Totals</h3>
                    <table>
                        <tr>
                            <td>Cart Subtotal</td>
                            <td>Rs {{order.get_orderTotal}}</td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td>Rs 150</td>
                        </tr>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td><strong>Rs {{order.get_TotalWith_Shipping}}</strong></td>
                        </tr>
                    </table>
                    <form action="/checkout">
                    <button class="checkout">Checkout</button>
                    <form>
                      
                </div>
                
            </div>
        </section>

  
  {% endblock %}