<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="2" > -->
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>Home</title>
    <link rel="icon" href="../static/images/optica.svg" type="image/icon type">
  </head>
  <body>
        <section id="header">
          <a href="#"><img src="../static/images/optica.svg" class="logo" alt="" /></a>

          <div>
            <ul id="navbar">
              <li><a class="active" href="">Home</a></li>
              <li><a href="products.html">Products</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li> 
              <li><a href="cart.html"><i class="fa fa-shopping-bag"></i></a></li>
            </ul>
          </div>
        </section>

        <section id="banner">
        <h4>Bumper Offer</h4>
        <h2>Super Shades deals</h2>
        <h1>On all Products</h1>
        <p>Save more with coupons upto 80% as well</p>
        <button>Shop Now</button>

    </section>

        <section id ="features" class="section-p1">

          <div class="fe-box">
            <img src="../static/images/easypayment.jpg"  alt=" ">
            <h6>Free Shipping</h6>
          </div>
          <div class="fe-box">
            <img src="../static/images/easypayment.jpg" alt=" ">
            <h6>Free Shipping</h6>
          </div>
          <div class="fe-box">
            <img src="../static/images/easypayment.jpg" alt=" ">
            <h6>Free Shipping</h6>
          </div>
          <div class="fe-box">
            <img src="../static/images/easypayment.jpg" alt=" ">
            <h6>Free Shipping</h6>
          </div>

        </section>

        <section id="product1" class="section-p1">
          <h2>Featured Products</h2>
          <p>Summer Collection of Sun Glasses</p>
          <div class="prod-container">
            <div class="prod">
              <img src="../static/images/glass1.png" alt=" ">
              <div class="des">
                <span>Chasmaa</span>
                <h5>Waterproof Glass</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$4.00</h4>
                </div>
                <a href="#"><i  class="fa fa-shopping-cart "></i></a>
            </div>
          

          
            <div class="prod">
              <img src="../static/images/glass2.png" alt=" ">
              <div class="des">
                <span>Chasmaa</span>
                <h5>Waterproof Glass</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$4.00</h4>
                </div>
                <a href="#"><i  class="fa fa-shopping-cart "></i></a>
            </div>
          

          
            <div class="prod">
              <img src="../static/images/glass3.png" alt=" ">
              <div class="des">
                <span>Chasmaa</span>
                <h5>Waterproof Glass</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$4.00</h4>
                </div>
                <a href="#"><i  class="fa fa-shopping-cart "></i></a>
            </div>
          

         
            <div class="prod">
              <img src="../static/images/glass4.png" alt=" ">
              <div class="des">
                <span>Chasmaa</span>
                <h5>Waterproof Glass</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$4.00</h4>
                </div>
                <a href="#"><i  class="fa fa-shopping-cart "></i></a>
            </div>
  

          
            <div class="prod">
              <img src="../static/images/glass5.png" alt=" ">
              <div class="des">
                <span>Chasmaa</span>
                <h5>Waterproof Glass</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$4.00</h4>
                </div>
                <a href="#"><i  class="fa fa-shopping-cart "></i></a>
            </div>
          

         
            <div class="prod">
              <img src="../static/images/glass6.png" alt=" ">
              <div class="des">
                <span>Chasmaa</span>
                <h5>Waterproof Glass</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$4.00</h4>
                </div>
                <a href="#"><i  class="fa fa-shopping-cart "></i></a>
            </div>
         

          
            <div class="prod">
              <img src="../static/images/glass7.png" alt=" ">
              <div class="des">
                <span>Chasmaa</span>
                <h5>Waterproof Glass</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$4.00</h4>
                </div>
                <a href="#"><i  class="fa fa-shopping-cart "></i></a>
            </div>
          

          <div class="prod">
            <img src="../static/images/glass1.png" alt=" ">
            <div class="des">
              <span>Chasmaa</span>
              <h5>Waterproof Glass</h5>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h4>$4.00</h4>
              </div>
              <a href="#"><i  class="fa fa-shopping-cart "></i></a>
          </div>
        </div>
        

          


        </section>


    <script src="../static/home.js"></script>
  </body>
  </html>