{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <title>Optica</title>
    <link rel="icon" href="{% static 'images/optica.svg' %}" type="image/icon type">
  </head>
  <body>
    <div class="container">
        <div class="forms-container" >
        <div class="signin-signup">
            
            <form class="sign-in-form" method="POST">
              {% csrf_token %}
              <img src="{% static 'images/optica.svg' %}" class="logo1" alt=""/>
              <h2 class="title1">Sign in</h2>
              <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input name="username" type="text" placeholder="Username" />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input name="password" type="password" placeholder="Password" />
              </div>
              <button type="submit" value="Log In">Log In </button>
            </form>
              <p class="social-text">Or Sign in with social platforms</p>
              <div class="social-media">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            
            </div>
            </div>

            <div class="panels-container">
            <div class="panel left-panel">
            
                <div class="content">
                  <h3>New here ?</h3>
                  <p>
                    Let's join fill a quick registration form and join with us in the journey of "Shades".
                  </p>
                  <form action="/register">
                  <button class="btn transparent" id="sign-up-btn" >Sign up</button>
                  </form>
                </div>
                <img src="{% static 'images/login.svg' %}" class="image" alt="" />
              </div>
            </div>

            </div>
        </body>
        </html>
  