<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/product.css" />
    <title>Optica-Products</title>
    <link rel="icon" href="../static/images/optica.svg" type="image/icon type">
  </head>
    <body>
        <section class="banner">
            <h1>Our Products</h1>
        </section>
    

    </body>
</html>
