{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <title>Optica</title>
    <link rel="icon" href="{% static 'images/optica.svg' %}" type="image/icon type">
  </head>
  <body>
    <div class="container">
        <div class="panels-container">
          <div class="panel left-panel">
          <div class="content">
              <h3>One of us ?</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                laboriosam ad deleniti.
              </p>
              <form action="/login">
                  <button class="btn transparent" id="sign-up-btn" >Sign In</button>
                  </form>
            </div>
            <img src="{% static 'images/register.svg' %}" class="image" alt="image1" />
          </div>
        </div>
        </div>
        <div class="forms-container" >
        <div class="signin-signup">
            
            <form class="sign-in-form" method="POST">
              {% csrf_token %}
              <!-- <img src="{% static 'images/optica.svg' %}" class="logo2" alt=""/> -->

            <h2 class="title2">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{form.first_name}}
            </div>
    
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{form.last_name}}
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{form.username}}
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              {{form.email}}
            </div>
            <div class="input-field" >
              <i class="fas fa-lock"></i>
              {{form.password1}}
            </div>
            <div class="input-field" height="50px">
                <i class="fas fa-lock"></i>
                {{form.password2}}
              </div>
            <button class="button" class="registerbtn" type="submit" >Sign Up </button>
            </form>
            </div>
            </div>


            </div>
        </body>
        </html>
  